alembic
blinker
coverage
Flask
Flask-Bcrypt
Flask-DebugToolbar
Flask-Login
Flask-Migrate
Flask-Script
Flask-SQLAlchemy
Flask-Testing
Flask-WTF
itsdangerous
Jinja2
Mako
MarkupSafe
bcrypt
SQLAlchemy
Werkzeug
WTForms
WTForms-Components
gunicorn
redis
psycopg2
fake-factory
sqlalchemy-datatables
ipython
beautifulsoup4
pandas
